@page "/"

@using QRCoder
@using FastPair.Client.Web.Services
@using SixLabors.ImageSharp.Formats.Jpeg

@inject UserCodesService UserCodesService
@inject NavigationManager NavigationManager

@if (_isAuthorized)
{
    <div>Yes.</div>
}
else
{
    <div class="flex-wrap">
        <img width="256px" height="256px" src="@_qrSource" alt=""/>
        <span>@_code</span>
    </div>
}

@code {
    private string _qrSource = string.Empty;
    private string _code = string.Empty;
    private bool _isAuthorized;
    
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            UserCodesService.OnAuthorized += UserCodesServiceOnOnAuthorized;
        }
        
        base.OnAfterRender(firstRender);
    }

    private void UserCodesServiceOnOnAuthorized(bool obj)
    {
        if (obj)
        {
            NavigationManager.NavigateTo("/hello");
            
            return;
        }   
        
        NavigationManager.NavigateTo("/expired");
    }

    protected override async void OnInitialized()
    {
        var url = UserCodesService.GenerateUrl();
        
        _code = url.Code;
        
        await using var ms = new MemoryStream();
        var generator = new QRCodeGenerator();
        
        var data = generator.CreateQrCode(url.Url, QRCodeGenerator.ECCLevel.M);
        var qr = new QRCode(data);
        
        var image = qr.GetGraphic(20);
        await image.SaveAsync(ms,new JpegEncoder());
        
        _qrSource = $"data:image/png;base64,{Convert.ToBase64String(ms.ToArray())}";
        
        await UserCodesService.SendCode(url.Code);
        
        await base.OnInitializedAsync();
    }
}